/*colours

background: #ECECEC

 */

body {
    font-family: 'ABeeZee', sans-serif;
    background-color: #fafafa;
    color: #4a4a4a;
    margin: 0;
    min-height: 100%;
    display: block;
}

#info-wrapper {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
}

#info {
    position: absolute;
    left: 15%;
    bottom: 15%;
    width: 70%;
}

#btn-contact {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    border: 1px solid #4a4a4a;
    background-color: #fafafa;
    padding: 14px 20px;
    color: #4a4a4a;
    transition: background-color 0.3s, color 0.3s;
}

#btn-contact:hover {
    background-color: #4a4a4a;
    color: #fafafa;
}

#portfolio {
    width: 60%;
    margin-left: 40%;
    background-color: green;
    flex-grow: 2;
    min-width: 300px;
    flex-flow: column;
    display: flex;
    overflow: auto;
}

#name {
    font-family: 'Crete Round', serif;
    font-size: 4em;
    /*font-weight: bold;*/
}

.item {
    height: 100vh;
}

.card {
    margin: 10px 0;
    display: flex;
    width: 100%;
}

.card:hover .card-left, .card:hover .card-right {
    background-color: #f57d00;
    color: #fafafa;
}

.card-github:hover .card-left, .card-github:hover .card-right {
    background-color: #333;
    color: #fafafa;
}

.card-github .card-left {
    border-color: #333;
    background-color: #333;
}

.card-github .card-right {
    border-color: #333;
    color: #333;
}

.card-linkedin:hover .card-left, .card-linkedin:hover .card-right {
    background-color: #0077b5;
    color: #fafafa;
}

.card-linkedin .card-left {
    padding: 10px 8px 10px 12px;
    border-color: #0077b5;
    background-color: #0077b5;
}

.card-linkedin .card-right {
    border-color: #0077b5;
    color: #0077b5;
}

.card-loc:hover .card-left, .card-loc:hover .card-right {
    background-color: #82c91e;
    color: #fafafa;
}

.card-loc .card-left {
    border-color: #82c91e;
    background-color: #82c91e;
}

.card-loc .card-right {
    border-color: #82c91e;
    color: #82c91e;
}

.card-left {
    border: 2px solid #f57d00;
    width: 18px;
    background-color: #f57d00;
    color: #fafafa;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 0.3s;
}

.card-right {
    border: 2px solid #f57d00;
    background-color: #fafafa;
    color: #f57d00;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    flex-grow: 1;
    transition: all 0.3s;
}

#typed {
    height: 30px;
    width: 100%;
    display: inline;
}

.typed-cursor {
    font-size: 1.4em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#contact {
    background-color: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    /*background-color: red;*/
    color: #fafafa;
    width: 80%;
}

.contact-form {
    font-size: 0;
}

.contact-form * {
    outline: none;
    border: 0;
    border-bottom: 2px solid #37393b;
    padding: 0 0 0 10px;
    height: 45px;
    background-color: #37393b;
    color: #8d8d8d;
    font-family: 'ABeeZee', sans-serif;
}

.contact-form input:focus, .contact-form textarea:focus{
    border-bottom: 2px solid #0077b5;
}

.contact-form input {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.contact input, .contact textarea {
    width: calc(100% - 10px);
}

.contact input[name=name], .contact input[name=email] {
    width: calc(50% - 15px);
}

.contact input[name=name] {
    margin-right: 10px;
}

.contact textarea {
    resize: vertical;
    height: 100px;
    font-size: 16px;
    padding-top: 10px;
    max-height: 500px;
    min-height: 100px;
}

.contact button {
    font-size: 16px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #37393b;
    background-color: #252627;
    color: #8d8d8d;
    width: 100px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.contact button:hover {
    background-color: #37393b;
    color: #fafafa;
}
